## Ignore Visual Studio Code
.vscode/*
node_modules/*
.next
next-env.d.ts
.env
## Ignore apps/frontend/
apps/frontend/build/*
apps/frontend/.vercel
apps/frontend/.env*.local
apps/frontend/public/*
apps/frontend/node_modules

## Ignore Backend
apps/backend/.env
apps/backend/node_modules